<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="cn.xuqiudong.common.base.mapper.BaseGenericMapper">
    <!-- 声明表名变量（无默认值，强制子类xml中定义） -->
    <sql id="tableName"><!-- 空值 --></sql>

    <!--  *********** some common sql *******************    -->
    <!--  如果是复杂sql，可以通过 databaseId 匹配不同数据库   -->
    <!--修改 enable 状态 -->
    <update id="updateEnable">
        update
        <include refid="tableName"/>
        set enable = #{enable}
        where id = #{id}
    </update>
</mapper>