<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xuqiudong.quartz.mapper.TaskJobMapper">
    <resultMap id="BaseResultMap" type="cn.xuqiudong.quartz.model.TaskJob">
        <id column="id" jdbcType="BIGINT" property="id"/>
    </resultMap>


    <!-- 列表数据列 -->
    <sql id="base_list">
        a.id AS `id` ,
        a.name AS `name` ,
        a.code AS `code` ,
        a.group AS `group` ,
        a.cron AS `cron` ,
        a.status AS `status` ,
        a.note AS `note` ,
        a.create_id AS `createId` ,
        a.update_id AS `updateId`
    </sql>

    <!-- 详情数据列 -->
    <sql id="detail_list">
        a.id AS `id` ,
        a.name AS `name` ,
        a.code AS `code` ,
        a.group AS `group` ,
        a.cron AS `cron` ,
        a.status AS `status` ,
        a.note AS `note` ,
        a.create_time AS `createTime` ,
        a.update_time AS `updateTime` ,
        a.is_enable AS `enable` ,
        a.is_delete AS `delete` ,
        a.create_id AS `createId` ,
        a.update_id AS `updateId`
    </sql>

    <!--查询列表 -->
    <select id="list" resultType="cn.xuqiudong.quartz.model.TaskJob">
        SELECT
        <include refid="base_list"/>
        FROM t_task_job a
        WHERE 1=1
        <if test="name !=null and name !=''">
            AND a.`name` LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="code !=null and code !=''">
            AND a.`code` LIKE CONCAT('%', #{code}, '%')
        </if>
        <if test="group !=null and group !=''">
            AND a.`group` LIKE CONCAT('%', #{group}, '%')
        </if>
        <if test="cron !=null and cron !=''">
            AND a.`cron` LIKE CONCAT('%', #{cron}, '%')
        </if>
        <if test="status !=null">
            AND a.`status` = #{status}
        </if>
        <if test="note !=null and note !=''">
            AND a.`note` LIKE CONCAT('%', #{note}, '%')
        </if>
        <if test="createId !=null and createId !=''">
            AND a.`create_id` = #{createId}
        </if>
        <if test="updateId !=null and updateId !=''">
            AND a.`update_id` = #{updateId}
        </if>
        <!-- 排序 -->
        <choose>
            <when test="sortColumn != null and sortColumn != '' and  sortOrder != null and sortOrder!= ''">
                order by ${sortColumn} ${sortOrder}
            </when>
            <otherwise>
                ORDER BY a.id DESC
            </otherwise>
        </choose>
    </select>

    <!--根据主键查询对象 -->
    <select id="findById" resultType="cn.xuqiudong.quartz.model.TaskJob">
        SELECT
        <include refid="detail_list"/>
        FROM t_task_job a
        WHERE a.id = #{id}
    </select>

    <!--批量查询对象 -->
    <select id="findByIds" resultType="cn.xuqiudong.quartz.model.TaskJob">
        SELECT
        <include refid="detail_list"/>
        FROM t_task_job a
        WHERE a.id in
        <foreach item="item" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


    <!--新增数据 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into t_task_job
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name !=null ">`name`,</if>
            <if test="code !=null ">`code`,</if>
            <if test="group !=null ">`group`,</if>
            <if test="cron !=null ">`cron`,</if>
            <if test="status !=null ">`status`,</if>
            <if test="note !=null ">`note`,</if>
            <if test="createTime !=null ">`create_time`,</if>
            <if test="updateTime !=null ">`update_time`,</if>
            <if test="enable !=null ">`is_enable`,</if>
            <if test="delete !=null ">`is_delete`,</if>
            <if test="createId !=null ">`create_id`,</if>
            <if test="updateId !=null ">`update_id`</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name !=null  ">#{name},</if>
            <if test="code !=null  ">#{code},</if>
            <if test="group !=null  ">#{group},</if>
            <if test="cron !=null  ">#{cron},</if>
            <if test="status !=null  ">#{status},</if>
            <if test="note !=null  ">#{note},</if>
            <if test="createTime !=null  ">#{createTime},</if>
            <if test="updateTime !=null  ">#{updateTime},</if>
            <if test="enable !=null  ">#{enable},</if>
            <if test="delete !=null  ">#{delete},</if>
            <if test="createId !=null  ">#{createId},</if>
            <if test="updateId !=null  ">#{updateId}</if>
        </trim>
    </insert>

    <!--批量新增数据 -->
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        insert into t_task_job
        (
        `name` , `code` , `group` , `cron` , `status` , `note` , `create_time` , `update_time` , `is_enable` ,
        `is_delete` , `create_id` , `update_id` ) VALUES
        <foreach collection="list" separator="," item="item">
            (
            #{item.name} , #{item.code} , #{item.group} , #{item.cron} , #{item.status} , #{item.note} ,
            #{item.createTime} , #{item.updateTime} , #{item.enable} , #{item.delete} , #{item.createId} ,
            #{item.updateId} )
        </foreach>
    </insert>

    <!--更新数据 -->
    <update id="update" parameterType="cn.xuqiudong.quartz.model.TaskJob">
        update t_task_job
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="code != null">`code` = #{code},</if>
            <if test="group != null">`group` = #{group},</if>
            <if test="cron != null">`cron` = #{cron},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="note != null">`note` = #{note},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="enable != null">`is_enable` = #{enable},</if>
            <if test="delete != null">`is_delete` = #{delete},</if>
            <if test="createId != null">`create_id` = #{createId},</if>
            <if test="updateId != null">`update_id` = #{updateId}</if>
        </set>
        where id = #{id}
    </update>

    <!--删除数据 -->
    <delete id="delete">
        delete from t_task_job where id in
        <foreach item="item" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!--查询字段是否未重复 -->
    <select id="checkNotRepeat" resultType="boolean">
        SELECT COUNT(1)=0 FROM t_task_job WHERE ${column} = #{value}
        <if test="id !=null">
            AND id!= #{id}
        </if>
    </select>

    <!-- ******************************通用代码end************************** -->
</mapper>