package $!{package}.$!{moduleName}.service;

import cn.xuqiudong.common.base.service.BaseGenericService;
import $!{package}.$!{moduleName}.mapper.$!{className}Mapper;
import $!{package}.$!{moduleName}.model.$!{className};

#if($!{table.hasPic})
import pers.vic.base.attachment.service.AttachmentService;
#end
import org.springframework.stereotype.Service;

/**
 *功能: :$!{comments} Service
 * @author $!{author}
 * @since  $!{datetime}
 */
@Service
public class $!{className}Service extends BaseGenericService<$!{className}Mapper, $!{className}, $!pk.attrType> {

    @Override
    protected boolean hasAttachment() {
        return false;
    }

}
