<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xuqiudong.mq.bridge.mapper.ArchiveMapper">

    <!-- 判断表是否存在 -->
    <select id="tableExists" resultType="int">
        SELECT COUNT(1)
        FROM information_schema.tables
        WHERE table_schema = DATABASE()
          AND table_name = #{tableName}
    </select>

    <!-- 建表，模板表 -->
    <update id="createTableLike">
        CREATE TABLE IF NOT EXISTS ${tableName}
            LIKE ${templateTable}
    </update>

    <!-- 归档数据 -->
    <insert id="archive">
        INSERT IGNORE INTO ${archiveTable}
        SELECT *
        FROM ${bizTable}
        WHERE id = #{id}
    </insert>

    <!-- 删除原数据 -->
    <delete id="delete">
        DELETE
        FROM ${bizTable}
        WHERE id = #{id}
        LIMIT 1
    </delete>
</mapper>